.container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  justify-content: center;
  align-items: center;
}

.fileInput {
  display: none;
}

.button {
  width: 100%;
  height: 100%;
  padding: 0.2em;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
}

.button.grey {
  background-color: #e5e5e5;
}

.button.orange {
  background-color: #ffe1ce;
}

.button:hover {
  opacity: 0.8;
}

.loading {
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  border: 2px solid #a6a6a6;
  border-top: 3px solid #f44336;
  background-color: #e5e5e5;
  text-align: center;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
