.form {
  display: flex;
  width: 100%;
  margin-bottom: 2em;
  max-width: 80rem;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  flex-wrap: wrap;
}

.input,
.select,
.fileInput,
.textarea {
  border: 0;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

.input,
.select,
.textarea {
  padding: 0.5em;
}

.input,
.select,
.fileInput {
  flex: 1 1 30%;
  background-color: #fff;
}

.fileInput {
  flex: 1 1 50%;
}

.textarea {
  flex-basis: 100%;
}
