.card {
  display: flex;
  width: 100%;
  max-width: 50rem;
  align-items: center;
  border-radius: 1em;
  margin-bottom: 1em;
  padding: 0.2em 0;
  box-shadow: 6px 6px 8px 0px rgba(217, 217, 217, 1);
}

.card.receipt {
  background-color: #fbeaa7;
}

.card.working {
  background-color: #f8c0ba;
}

.card.complete {
  background-color: #b2e4c5;
}

.card.hold {
  background-color: #d1d8d8;
}

.imageBox {
  display: flex;
  width: 20em;
  height: 10em;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  max-height: 100%;
  margin-left: 0.5em;
  margin-right: 1em;
  padding: 1em;
}

.info {
  width: 100%;
}
.info p,
.info pre {
  font-size: 0.8rem;
  margin-bottom: 0.2em;
}

.title {
  font-size: 1.2rem;
}

.company {
  margin-bottom: 1em;
}

.company::after {
  content: '';
  display: block;
  width: 90%;
  height: 2px;
  background-color: wheat;
  transform: translateY(0.5em);
}
