.header {
  position: relative;
  width: 100%;
  padding: 3em 2em 2em;
  background-color: #1a3c58;
  text-align: center;
}

.title {
  color: #fff;
}

.userBox {
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  right: 1em;
  align-items: center;
}

.user {
  color: #fff;
  margin-right: 1em;
}

.logoutBtn {
  padding: 0.8em;
  background-color: #000;
  border-radius: 1em;
  color: #fff;
}
